{% extends "base.html" %} {% block title %}Create Recipe{% endblock %} {% block
content %}
<body>
  <h1>Create a Recipe</h1>
  <form method="POST">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden' %}
    <p>
      {{ field.label }} {{ field(class_="form-control") }} {% for error in
      field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}
    <div id="ingredient-container">
      <!-- Ingredient fields will be added here -->
    </div>
    <button
      type="button"
      id="add_ingredient"
      class="btn btn-outline-secondary btn-sm"
    >
      Add Ingredient
    </button>
    <br />
    <div id="step-container">
      <!-- Step fields will be added here -->
    </div>
    <button
      type="button"
      id="add_step"
      class="btn btn-outline-secondary btn-sm"
    >
      Add Step
    </button>
    <br />
    <button class="btn btn-info disabled btn-sm" type="submit">
      Create Recipe
    </button>
  </form>
  <script>
    $(document).ready(function () {
      $("#add_ingredient").click(function () {
        // Create a new ingredient field
        let newIngredientField = createField("ingredient");

        // Append the new ingredient field to the ingredient container
        $("#ingredient-container").append(newIngredientField);
      });

      // Add event listener for the delete button on ingredients
      $("#ingredient-container").on("click", ".delete-ingredient", function () {
        // Remove the corresponding ingredient field
        $(this).closest(".form-group").remove();
      });

      $("#add_step").click(function () {
        // Create a new step field
        let newStepField = createField("step");

        // Append the new step field to the step container
        $("#step-container").append(newStepField);
      });

      // Add event listener for the delete button on steps
      $("#step-container").on("click", ".delete-step", function () {
        // Remove the corresponding step field
        $(this).closest(".form-group").remove();
      });

      // Function to create a new field with the given type
      function createField(type) {
        return `
        <div class="form-group">
          <input type="text" class="form-control" name="${type}" placeholder="${type.charAt(0).toUpperCase() + type.slice(1)}">
          <button type="button" class="btn btn-outline-warning delete-${type}">
            Delete
          </button>
        </div>
      `;
      }
    });
  </script>
  {% endblock %}
</body>
