{% extends 'base.html' %} {% block title %}Home - Your Recipe App{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2>Welcome to Your Recipe App</h2>
    <p>Find and explore a variety of delicious recipes...</p>
  </div>

  <form class="me-3" action="{{ url_for('search_recipes') }}" method="GET">
    <input
      type="text"
      class="form-control"
      name="ingredient"
      placeholder="Search recipes..."
    />
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
{% endblock %}
