{% extends 'base.html' %} {% block title %}Home - Your Recipe App{% endblock %}
{% block content %}
<div class="row">
  <nav class="col-md-8">
    <h2>Welcome to Your Recipe App</h2>
    <h3>Culinary Exploration Made Easy</h3>

    <p>
      Welcome to Foodie Delights, your go-to destination for culinary
      exploration and recipe sharing. Foodie Delights is more than just a
      website; it's a vibrant community of food enthusiasts who are passionate
      about creating, discovering, and sharing delicious recipes
    </p>
    <h4>Find and Explore a Variety of Delicious Recipes...</h4>
  </nav>
</div>
{% endblock %}
