{% extends "base.html" %} {% block content %}
<h1>{{ recipe.title }}</h1>

<img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="img-fluid" />

<h2>Ingredients</h2>
<ul>
  {% for ingredient in recipe.ingredients %}
  <li>{{ ingredient.name }}</li>
  {% endfor %}
</ul>

<h2>Instructions</h2>
<ol>
  {% for instruction in recipe.instructions %}
  <li>{{ instruction.step }}</li>
  {% endfor %}
</ol>

<div class="container mt-4">
  {% if comments %}
  <h2>Comments:</h2>
  <ul>
    {% for comment in comments if comment.parent_id is none %}
    <li>
      <a href="/show_thread/{{recipe.id}}/{{comment.id}}">{{ comment.text }}</a>
      <small>
        <strong>{{ comment.user.username }}</strong> {{
        comment.timestamp.strftime("%m-%d-%Y %H:%M:%S") }}
      </small>
      {% if g.user %} {% if comments|length > 1 %}
      <a href="#" class="reply-link" data-comment-id="{{ comment.id }}"
        >Reply</a
      >
      <div class="reply-form hidden" id="reply-form-{{ comment.id }}">
        <form method="POST" action="/recipe/{{ recipe.id }}//comment">
          {{ form.hidden_tag() }} {{ form.hidden_tag("parent_id", comment.id) }}
          <div class="form-group">
            {{ form.text.label(class="form-label") }} {{
            form.text(class="form-control") }}
          </div>
          <button type="submit" class="btn btn-primary">Post Reply</button>
        </form>
      </div>
      {% endif %} {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %} {% if user %} {% if saved_recipe or created_recipe %}
  <h2>Add a Comment:</h2>
  <form method="POST" action="/recipe/{{ recipe.id }}/None/comment">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.text.label(class="form-label") }} {{
      form.text(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Post Comment</button>
  </form>
  {% else %}
  <p>You must save the recipe to post a comment.</p>
  <form
    action="{{ url_for('save_recipe', recipe_id=recipe.id) }}"
    method="POST"
  >
    <button type="submit" class="btn btn-primary">Save Recipe</button>
  </form>
  {% endif %}{% endif %}
</div>

<a href="{{ url_for('search_recipes') }}" class="btn btn-secondary"
  >Back to Search</a
>
{% if saved_recipe %}
<a
  href="{{ url_for('unsave_recipe', recipe_id=recipe.id) }}"
  class="btn btn-danger"
  >Unsave Recipe</a
>

{% endif %} {% endblock %}
<script src="javascript.js"></script>
