{% extends "base.html" %} {% block content %}

<form class="me-3" action="{{ url_for('search_recipes') }}" method="GET">
  <input
    type="text"
    class="form-control"
    name="ingredient"
    placeholder="Search recipes..."
  />
  <button type="submit" class="btn btn-primary">Search</button>
</form>

{% if api_recipes %}
<h2>{{ ingredient }} Recipes</h2>
<ul>
  {% for recipe in api_recipes %}
  <li>
    <a href="/recipe/api/{{recipe.id}}">{{ recipe.title }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No recipes found.</p>
{% endif %} {% if db_recipes %}
<ul>
  {% for recipe in db_recipes %}
  <li>
    <a href="/recipe/db/{{recipe.id}}">{{ recipe.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %} {% endblock %}
