{% extends "base.html" %} {% block title %}User Profile{% endblock %} {% block
content %}
<div class="user-profile">
  <h2><b>{{ user.username }}</b>'s Profile</h2>
  <img src="{{user.image_url}}" alt="" />
</div>
<div class="row">
  <form action="/recipe" method="GET">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Main Ingredient"
        name="ingredient"
        aria-label="Ingredient"
        aria-describedby="button-addon2"
      />
      <button class="btn btn-primary" type="submit" id="button-addon2">
        Search
      </button>
    </div>
  </form>
</div>
<div class="row">
  <a href="/create_recipe" class="btn btn-info"> Create Recipe </a>
</div>
<!-- show saved recipes -->
<div class="row">
  {% if saved_recipes %}
  <h5>Saved recipes</h5>
  <ul>
    {% for recipe in saved_recipes %}
    <li>
      <a href="/recipe/db/{{recipe.recipe.id}}">{{ recipe.recipe.title }}</a>
      <ul>
        {% for comment in recipe.recipe.comments if comment.parent_id is none %}
        <li>
          <a href="/show_thread/{{recipe.id}}/{{comment.id}}"
            >{{ comment.text }}</a
          >
          <small
            ><strong>{{ comment.user.username }}</strong> {{
            comment.timestamp.strftime("%m-%d-%Y %H:%M:%S") }}</small
          >
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>

  {% endif %}
</div>
<div class="row">
  {% if user_generated_recipes %}

  <h5>Created Recipes</h5>
  <ul>
    {% for recipe in user_generated_recipes %}
    <li>
      <a href="/recipe/db/{{recipe.id}}">{{ recipe.title }}</a>
      <ul>
        {% for comment in recipe.comments if comment.parent_id is none %}
        <li>
          <a href="/show_thread/{{recipe.id}}/{{comment.id}}"
            >{{ comment.text }}</a
          >
          <small
            ><strong>{{ comment.user.username }}</strong> {{
            comment.timestamp.strftime("%m-%d-%Y %H:%M:%S") }}</small
          >
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>

  {% endif %}
</div>
{% endblock %}
